DEPLOYMENT_ENV=

PORTFOLIO_IMAGE=
PORTFOLIO_TAG=
PORTFOLIO_HOST_PORT=
PORTFOLIO_INTERNAL_PORT=

ADMIN_SYSTEM_1_IMAGE=
ADMIN_SYSTEM_1_TAG=
ADMIN_SYSTEM_1_HOST_PORT=
ADMIN_SYSTEM_1_INTERNAL_PORT=

MYSQL_VERSION=
MYSQL_CONTAINER_NAME=
# Host binding (optional, only if you want external DB access)
MYSQL_HOST_PORT=
# Volumes
MYSQL_VOLUME=
MYSQL_INIT_PATH=