MYSQL_VERSION=

MYSQL_CONTAINER_NAME=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Host binding (optional, only if you want external DB access)
MYSQL_PORT=

# Volumes
MYSQL_VOLUME=
MYSQL_INIT_PATH=
